html {
    position:relative;
    top:-15px;
}

div {
    margin-bottom:10px;
}

.directionButton {
    margin:5px;
}

.col-md-4 {
    background:rgb(230,230,230);
    border-radius:10px;
    padding:15px;
}

.currentLocation {
    background:rgb(23,171,180);
    color:white;
}

.travelLog {
    text-align:left
}

li {
    padding:5px;
}
li:nth-child(2n) {
    background:rgb(240,240,240);
}

#inputField {
    width:500px;
}

#sectionInventory li { text-align:left; }

#sectionPreferences {
    marign-top:40px;
    h4 {
        color:rgb(100,100,100);
    }
}

#topBar {
    background:rgb(70,70,70);
    color:white;
    padding:7px;
}